* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.container {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1em;
}

main {
    width: 100%;
    border-top: 3px solid black;
    margin-top: 2em;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
}

.course-information, .course-list {
    width: 48%;
}

.input-list span {
    font-weight: 600;
}

.input-list input {
    margin-top: 0.5em;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}

.add-course {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-course button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 1px solid #babfc3;
    padding: 8px 16px;
    min-height: 44px;
    min-width: 44px;
    color: #202223;
    background: #ffffff;
    border-radius: 6px;
    font-weight: 600;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 1px 1px;
    margin-left: auto;
    margin-bottom: 1em;
}

.add-course button:hover {
    background-color: rgba(223, 223, 223, 0.247);
}

.instructor-name, .course-name, .course-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

table th {
    font-size: 13px;
}

table button {
    font-size: 12px !important;
}